@import '~antd-mobile/dist/antd-mobile.css';
.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
    width: 6rem;
    padding: 0;
}
.my-navbar{
    background-color: black;
}
.am-list-body {
    background-color: black;
    color: darkgray;
    padding: 10px;
    border-top: 1px solid transparent;
    width:250px;
}

.am-drawer.am-drawer-left .am-drawer-sidebar{
    background-color: black;
    width:250px;
}
.am-drawer.am-drawer-left .am-drawer-draghandle, .am-drawer.am-drawer-right .am-drawer-draghandle{
    width:0;
}
.am-navbar-title{
    font-size: 14px;
    justify-content: flex-start;
    margin-left:-77px;
}
body.html{
    background-color: #e1e1e1;
}
.header ul li a {
    color:#a9a9a9;
    padding:10px;
    font-size: 14px;
}
.header ul{
    padding:0;
}
.header ul li{
    border-bottom: 1px dotted #333;
    padding-bottom: 20px;
    margin-bottom:20px;
}
/*正在热映*/
.nowPlaying{
    width: 326px;
    margin:20px auto;
    background-color: white;
    box-shadow: 1px 1px 1px lightgray;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearFloat::after{
    content: '';
    display: table;
    clear: both;
}
.nowPlaying-name{
    font-size: 12px;
    line-height: 15px;
    margin:15px 20px;
}
.nowPlaying-name>div:nth-child(1) {
    color:black;
}

.nowPlaying-name>div:nth-child(2) {
    color:#9a9a9a;
}
.nowPlaying-grade{
    color:#f78360;
    font-size: 18px;
    line-height: 50px;
    margin-right: 20px;
}
.moreFilm{
    width:160px;
    height: 30px;
    border:1px solid #aaa;
    margin:10px auto 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color:#616161;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px;
}
.line{
    position: relative;
    margin-top:30px;
    margin-bottom: 55px;
    border-bottom: 1px solid #a8a8a8;
}
.lineContent{
    width:65px;
    height:20px;
    margin:0 auto;
    margin-bottom: -10px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color:#eee;
    background-color: #a7a7a7;
}
/*=========*/
.smallNow-img{
    width:60px;
    height:82px;
}
.smallNow-img>img{
    height:100%;
}
.smallNow-name{
    font-size: 16px;
    line-height: 32px;
}
.smallNow-name>span:nth-child(1){
    color:#000;
}
.smallNow-name>span:nth-child(2){
    color:#fc7103;
    display: inline-block;
}
.smallNow{
    width:330px;
    margin:0 auto;
    border-bottom: dashed 1px #c9c9c9;
    padding:20px 0;
}
.smallNow-right{
    text-align: left;
    width:250px;
}
.smallNow-intro,.smallNow-count{
    font-size: 12px;
    color:#8e8e8e;
    line-height: 24px;
}
.smallNow-count>span:nth-child(1),.smallNow-count>span:nth-child(3){
    color:#8aa2bf
}
.smallNow-count>span:nth-child(2){
    display: inline-block;
    margin-right:25px;
}
.smallNow-right .smallNow-time{
    color:#fc7103;
}
.smallNow-time>span:nth-child(1){
    margin-right: 20px;
}
.control-nav{
    width:330px;
    margin:20px auto;
}
.control-line{
    width:330px;
    margin:0 auto;
    height: 1px;
    background-color:#fc7103 ;
}
.control-nav li{
    list-style-type: none;
    width:165px;
    text-align: center;
}
.control-nav li a{
    font-size: 16px;
    color:#6a6a6a;
}
