h1 {
  margin-left: 50px;
  color: #008000;
}
h1 * {
  margin: 0;
  padding: 0;
}
#div1 {
  font: 0.75px '微软雅黑';
  width: 16px;
  margin-left: 8px;
  color: #f00;
}
body {
  color: #008000;
}
body ul li {
  line-height: 20px;
  font-size: 40px;
  list-style-type: none;
}
h2 {
  width: 2000px;
  height: 300px;
  font-size: 50px;
}
li {
  background-color: #ffc0cb;
  border: 10px solid #ffb0c1;
}
